@charset "UTF-8";
/* CSS Document */


img { 
	display:block;
	margin: 30px auto;
	height:50px;
}

/* nav bar styling */
nav {
	background-color:mintcream;
	width:100%;
	height: 50px;
}

nav ul {
	list-style-type: none;
}

nav li {
	font-family: 'Ovo', serif;
	text-transform:uppercase;
	float:left;
	line-height:50px;
}

nav li a {
	display:block;
	padding:0em 2em;
	text-decoration:none;
}

a:link {
	color:black;
}

a:hover {
	color:white;
	text-shadow:1px 1px grey;	
}

/* end nav bar styling, begin feature styling */

h1 {
	margin:30px auto;
	font-family: 'Ovo', serif;
	text-align:center;
	font-size:1.7em;
}

hr {
	border:0;
	border-top: 1px double #8c8b8b;
}

figure img {
	width:300px;
	height:auto;
	margin:0px;
	display:inline-block;

}

figure { 
	display:block;
	float:left;
	position:relative;
	left:30px;
}

figcaption {
	font-family:'Ovo',serif;
	text-align:center;
}



/* styling for conversion chart page */

table {
	border-collapse:collapse;
	width:70%;
	margin:20px auto;
}

table, th, td {
	border:1px dotted black;
}

th, td {
	padding:10px;
	text-align:center;
}

th {
	font-family:'Dancing Script', cursive;
	font-size:1.5em;
	color:lightcoral;
}

table tr th:hover {
	color:white;
}

tr:hover {
	background-color:lightcoral;	
}


/* homepage quote */

blockquote {
	width:50%;
	padding:50px;
	margin:50px auto;
	text-align:center;
	clear:left;
	font-family:'Dancing Script',cursive;
	font-size:1.5em;
	color:palevioletred;
}


/* styling for email submission */

fieldset {
		background-color:mintcream;
		text-align:center;
		border:none;
		padding:20px;
		position:fixed;
		bottom:0;
		width:100%;
		display:inline-block;
}


h3 {
		font-family:'Ovo',serif;
		font-size:1.25em;
}

p {
	font-family:'Ovo', serif;
}

/* recipes styling */

h2 {
	font-family:'Dancing Script', cursive;
	clear:left;
	font-size:28px;
}
	

ol {
	display:block;
	list-style-type:none;
	margin-top:-15px;
}

li {
	color:grey;
	font-family:'Ovo', serif;
}

h4 {
	width:50%;
	margin:20px auto;
	font-family:'Ovo', serif;
	float:left;
}

div img {
	width:300px;
	height:auto;
	float:right;
}

.ingredients {
	float:left;
}